@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  font-family: "Syne Mono", monospace;
  font-size: 18px;
background: linear-gradient(to right, rgb(245, 242, 242), rgb(253, 253, 253));
}
/* font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Share Tech Mono', monospace; */
/* body{
  background-image: url(../src/assets/images/wallet4.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  height: 100vh; 

} */
